@import url('polices.css');
@keyframes translationHorizontale {
	0% {
	  background-position: 0% 100%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 100%;
	}
  }
/*
@keyframes animationFondImages {
	0%{	background-position: 0% 100%; background: linear-gradient(to right,orange,yellow,blue, red,indigo,violet, green)}
	25%{background-position: 75% 0%;background: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet)}
	50%{background-position: 50% 50%;background: linear-gradient(to right,red, blue,orange,indigo,yellow,green,violet)}
	75%{background-position: 0% 75%;background: linear-gradient(to right,orange,green,blue,indigo,red,violet, yellow)}
	100%{background-position: 100% 0%;background: linear-gradient(to left,red,orange,indigo,yellow,green, blue,violet)}
} */
@keyframes animationFondImages {
	0%{	background-position: 0% 100%;}
	25%{background-position: 75% 0%;}
	50%{background-position: 50% 50%;}
	75%{background-position: 0% 75%;}
	100%{background-position: 100% 0%;}
}

@keyframes roundspin {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    } 7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    } 30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    } 39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    } 70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
    } 75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
    } 76% {
        transform: rotate(945deg);
        opacity: 0;
    } 100% {
        transform: rotate(945deg);
        opacity: 0;
    }
}



  /*
  
										   ___
									   ,-""   `.
									 ,'  _   e )`-._
									/  ,' `-._<.===-'
								   /  /
								  /  ;
					  _          /   ;
		 (`._    _.-"" ""--..__,'    |
		 <_  `-""                     \
		  <`-                          :
		   (__   <__.                  ;
			 `-.   '-.__.      _.'    /
				\      `-.__,-'    _,'
				 `._    ,    /__,-'
					""._\__,'< <____
						 | |  `----.`.
						 | |        \ `.
						 ; |___      \-``
						 \   --<
						  `.`.<
							`-'
  
  
						   "oh, hello"
  — Notre Mission
  Sauver le monde. On sait pas encore comment mais ma cousine connait le naturopathe d’Elon Musk.
  
						   */
  