@import url('polices.css');

.fkrc-container {
    font-family: 'Roboto';
    user-select: none;
}

.fkrc-m-p {
    margin: 0;
    padding: 0;
}

.fkrc-block {
    display:block;
}

.fkrc-line-normal {
    line-height: normal;
}



/*
.................,: i8@@@88808L:::,,,,,,,,,,,,,,............ .                 @@@@@@   .                :1tf1:.     ..                                    .;...
.................,,.,L@@@888800;:,,,,,,,,,,,................                  ;1::t@:          ::;.     .,,,i,.       ..   .,,.                             i,..
.................,.,,L@@@888808i:,,,,,,,.,........... . .                     L,,...     .  .:,,,::,       ,i;.       ...,....                               ;..
...................: f@@@888808f:,,,,,,............                         C@;,i :L:    .    ,,,,,,        .,         ,.                                    ;,.
. ..  .   ..... . ,, :0@@@88888C:,,,.............                           .,:t1i:,        .1L@@@@@@@@@@0;                                                   i.
.  .              ,.,,L@@@888800;,,,.......... ..                               .::::.,  C@@@@@@@@@@@@@@@@@@@@f     .            .                            ;,
                   .:.C@@@8888081,.......... .                                .,..:::,f@@@@@@@@@@@@@@@@@@@@@@@@@@L           : ,                               i
                   ., t@@@@88808L:..........                                ,,....::f@@@@@@@@@@@@@@@@@@@88@8@@@@@@@f.   ; :   .                                ,
                   ,. :C@@@88080G:.......                                  .,,....t@@@@@@@@@@@@@@@@@@8Liiiii1tfLCCC8@8,. ,. .@L.                                
                   ..,,G@@@888800i......                                   .,,,..L@@@@@@8Gf1:i008@0Ct1i::;;iii1111tLG@@;.f1     .,                              
                   ..,.G@@@888888t,....                                      . :08@@8C1;;:.  .,1itii;;;;;;ii1ttttttfC@@@i    ..,,. .                            
                    ,. 10@@888888C,..                                         188L11i:::::,,,::::;;;i;ii1111tttffffLL0@@@:,,,......                             
            .       ...;L@@888000C;.                                         i8Gt,,::;;;;::,,:::;;i;;:;;ii111ttffLLLLC@@@,          ,.                          
                    ..,,0@@@88080C1.                                        :0@81,::;;;;;;;:,,,:;;;;;;;:;;i111ttffLLCC8@@.   .::fi,..                           
                     ., L@@@880000L,                                        ,@@@1::;;;i;;;;:,,:;ii;:::;;i1tffffffffffLC@@ff::,.  .                              
                     ,, ,C@@800000L:                                         @@@L::;;;;;;;iiii111t11i11tfCGG08888888880C@;                                      
                     ...,L@@800000C;.                                        @@@0;:;;;;;itffLLLLLLLLLLCGG08@@@@@@@@@888G@;         G@f.                         
                      .: C@@8GGGGGG1.                                        0@@8;:;1fC008@@@@@80000000888@@@@@@@@@88880G@f :ff   .                             
                      ., ,8@80GGGGGL,                                        t@@Gif088@@@@@@@@@@@880000888@@@@@@@@@@@@80L@8.                                    
                      ..  1@@GGGGGGC:                                         @@Gt08@@@@@@@@@@@@@88GLLG08@@@@@@@@@@@8@80C001                                    
                      ... f@@GGGGGGCi.                                       .08CiG8@@@@@@@@@@@@@80f;itG088@@@@@8888880GCf0C                                    
                       .: t@@0GGGGCCt.                                      18t0f;C8@@@@@@@@@@@@88Ct;;1fG00008888800GCGGCC80.                                   
                       ..  C@@GGCCGCL,                                      .01Ct;1LCC88@@@@880GCLt1i:ifGGGGGGGGCLLLLLLCCC00:                                   
                       ..  t@@LLCLLLC:                                      .GifL;11LftffLLLffLLLLtii:itfCGGCCCCLLLLLLLLCC0C.                                   
                         , C@@fLLffLL1                                       :1G8ii1iiiii11tffLCCL1i;:i1fffG0000GGCCCCCCCC08C                                   
                        ., .@@0fLLffLf.                                       ;itti;:;ii1ttfLG00Ci;ii1fLLGCLLG0888800000GG8@t                                   
                        ..  t@@fLCffLL,                                        t:8i;i11tfCG0888Ct1LG008888@@88008@@@888800@@;                                   
                        . . t@@GLLLfLf;                                         18t1fLCG088@@80G8@@@@@@@@@@@@@@@@@@@@@888@@@,                                   
                          , t@@0LCLfLLi.                                        18GLLC08@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:                                   
                         .,  0@@CCCLLLt,                                         i@80008@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:                                   
                         .   f@@CGGCCCf:                                         .@@8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;.                                  
                           , G@@GGGGGGC;                                          f@@@@@@@@@@@@@@@@@@88880@@@@@@@@@@@@@@@@@1,.  . .                             
                           , ;@@@GGGGGC1.                                         ,@@@@@@@@@@@@8800008880088888@@@@@@@@@@@C,... .  ..                        .. 
     ,::tGG8@@@@@@@@@@@0  ..  L@@0000GGC:                                          i@@@@@@@@@@@@80008888@@@@@@@@@@@@@@@@@L;...i;. ..  . .                ... ...
@@@@@@@@@@@@@@@@@@@@@@@@  ..:.0@@000GGGCi                                          .t@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@f;,.;:.......  .. .       .. .......
@@@@@@@@@@@@@@@@@@@@@@@@  . , G@@@000G0Gf.                                       :@@@1@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@G;..... ....................
@@@@@@@@@@@@@@@@@@@@@@@@;   : .@@@000000C,                                    1@@@8;;i1L@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@C .....................
@@@@@@@@@@@@@@@@@@@@@@@@8  ..i0@@@GfLf00G;                                  @@@@@;::;;i1L@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ...................
@@@@@@@@@@@@@@@@@@@@@@@@@@0LL08@@0LCfff00f                                G@@@@@@;:;;i1tfC8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@G..................
@@@@@@@@@@@@@@@@@@@@@@@@@8080G8@@@CGfff88C,                            i@@@@@@@@@@i;i11tfCG88@@@@@@@@@@@@@@@@@@@@@@8@@@@@@@@@@@@@@@@@@@@@@@@@@@,................
@@@@@@@@@@@@@@@@@@@@@@@@@@0800@@8800LffC80;                         ,@@@@@@@@@@@@@@81tfLLCG088@@@@@@@@@@@@@@@@@@8888@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,,,.,,.......,.
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8CfCfff8@t.                      L@@@@@@@@@@@@@@@@@@GLCCCG08888@@@@@@@@@@@@@@@888@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,.,.,
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8GL1;f0fff@@G,                   L@@@@@@@@@@@@@@@@@@@@@@@0G008888@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,:,,,,,,,,,,,
@@@@@@@@@@@@f0@@@@@@@@@@@@@8GGC@8f1;Gfff8@@;.               i8@@@@@@@@@@@@@@@@@@@@@@@@@@@@8888@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;:::,,,,,,,,,,
@@@8@@@@@LG@@@@@@@@@@@@@@@@80GCGftfCGLLLL@@t,.            G@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@::::,,,,:,,,,
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@80GCC0   .@@@@@@@@f:t@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:::::::::::,,
@@@@@@@@@@@@@@0GGC@@@@@@@@@@@@@@8800GGG88@8GLLfti;::,C@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@t::::::::::::
@@8@@GG@@@@@@@@@@@@@@@@@@@@@@@@0CLLLffftttt1i;iC0000@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;;;::::::;::
@@@@@@@@@@@@@@@@@@@@@@@@@80GCCLLLfftt11fG80000008@8@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:;;;;;;;;;;;
@@@@@@@@@@@@@@@@@800GGGCCCCLfftfC008808888@@@80000@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:;;;;;;;;;;;
@@@@@@@@@800GGGGCCCCCLLfL0888888888@@@@8800000000@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;;;;;;;;;;;;
@0000GGCCCCCLLLLLG0880888888@@@@@@88888880800080@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@f;;;;;;i;i;;
CCCCCLLLLC08888888888@@@@@@@8@888888888888888@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;iii;iii;ii
LLG88888888888@@@@@@@@@@@@@@@@@@88@@888@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Liiii;iiiii
8888888@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@iiiiiiiiii
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@iiiiiiiiii
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@iiiiiiiiii
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@tiiiiiiiii
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Liiiiiiii
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;iiiiiii
*/

.fkrc-checkbox-window {
    height: 74px;
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    padding-right: 5px;
    padding-top: 5px;
}

.fkrc-checkbox-container {
    width: 28px;
    height: 28px;
}

.fkrc-checkbox {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    border: 2px solid #c1c1c1;
    margin: 21px 0 0 12px;
    outline: none;
    font-family: 'Roboto';
    transition: width 500ms, height 500ms, border-radius 500ms, margin-top 500ms, margin-left 500ms, opacity 700ms;
}

.fkrc-checkbox:hover {
    border: 2px solid #b2b2b2;
}

.fkrc-im-not-a-robot{
    position: relative;
    left: 52px;
    bottom: 2px;
    font-size: 15px;
    color: #282727;
}

.fkrc-captcha-logo {
    position: relative;
    left: 246px;
    bottom: 40px;
    width: 33px;
    height: 33px;
    vertical-align: baseline;
}

.fkrc-checkbox-desc {
    color: #555555;
    position: relative;
    font-size: 10px;
    text-align: center;
    bottom: 41px;
    left: 112px;
}

.fkrc-spinner {
    visibility: hidden;
    position:relative;
    height: 35px;
    width: 35px;
    bottom: 90px;
    left: 9px;
    opacity:0;
    transition: opacity 400ms;
}

.fkrc-verifywin-window {
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    margin: auto;
    width: 310px;
    background-color: #fff;
    border: 1px solid #cecece;
    -webkit-box-shadow: 5px 6px 7px -3px rgba(0,0,0,0.12);
    box-shadow: 5px 6px 7px -3px rgba(0,0,0,0.12);
    transition: opacity 400ms;
}

.fkrc-verifywin-window-arrow {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: opacity 200ms;
    width: 10px;
    height: 23px;
}

.fkrc-verifywin-container {
    padding: 8px;
}

.fkrc-verifywin-header {
    display: flex;
    flex-direction: column;
    background-color: #4285f4;
    padding: 16px 16px 24px 16px;
    color: #fff;
    height: 114px;
}

.fkrc-verifywin-header-text-small {
    font-size: 14px;
    line-height: normal;
}

.fkrc-verifywin-header-text-medium {
    font-size: 16px;
}

.fkrc-verifywin-header-text-big {
    font-size: 24px;
    font-weight: 700;
}

.fkrc-verifywin-main {
    padding: 5px;
}

.fkrc-verifywin-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid #cecece;
    padding: 10px 7px 10px 7px;
    color: #737373;
    display: grid;
    grid-template-columns: auto 102px;
    font-size: 13px;
}

.fkrc-verifywin-footer-left {
    margin-left: 5px;
}

.fkrc-verifywin-verify-button, .fkrc-verifywin-verify-button:hover {
    text-transform: uppercase; /* Je ne suis plus sûr de la nécessité, étant donné que ça ne s'applique pas aux textes alt */
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 12px 0 12px 0;
    text-decoration: none;
    font-weight: 600;
    height: min-content;
    border-radius: 3px;
    font-size: 14px;
    border: none;
    outline: none;
    cursor:pointer;
}

.fkrc-verifywin-header button#close2025 {
    border: none;
    background: none;
    color: #fff;
}

.fkrc-verifywin-footer button {
    border: none;
    background: none;
}

.fl-end {
    align-self: flex-end;
    margin-left: auto;
    margin-top: auto;
    z-index: 5;
    padding: none;
}