@import url("animations.css");
@import url('polices.css');

/*
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXP
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXY?"""  .
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXY?""   ,;ciCCC
"?YXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXYYY??""   .,;iCCCCCCCCCC
.,.  `""""""???YYYYYYYYYYXXXXXXXYYYYY???"""""""   ..,;ciiCCCCCCCCCCC''`
```'`CCiiicccccccccc;;,,.    .,..,..,;cccciiiCCCCCCC????>''`````   .;ciCCC
Cic;,.   `''<<????CCCCCCCCCCCC?????''''''''`````'   ..,;;;ccciiiCCCCCCCCCC
CCCCCCCCCCCCcc;;;,,.       .,..,..,..,;;cciiiiCCCCCCCCCCCCCCCCCCCCC??>'`
``''?CCCCCCCCCC"'```''CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC??""''``   _.,;cciCC
ic;;,. ````'<?Ciiccc;,,.  ````'''`CCCCCC''''''''`' .,;cciiiCCCCCCCCCC?"'`
CCCCCCCCCiic;._  ```''"<?CCC;;;,,,.,..,...,;;;;;;C777???CC'''''``'  _,xiXX
.  ```'''`CCCCCCCiicc;,,,,,..        ```````'            .,,,xiiXXXXXXXXXX
XXXXXxXx,,,.   ```````````````````   .,..,..,.xiXiiXiiXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXxXxxXxXXXXXxxXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXY??"""
"""?YXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXYY???"""
=          """""???YYXXXXXXXXXXXXXXXXXXXXXXXXXXYYY???""                 ,;
 -;ccccc;;,.,..            """"""""""                          ,;ciCC'``'
;;, ```'???CCCCC  `''--;CCicc;;,      .,;;,,,.   ..      .,;ciCCCCCCCicc;-
C'```CCiiiiiCCCCtCiicc;,.  ```' . .,;;iCCCCC'' .,;;cccc-''`CCCCCCCCCCCCC;;
CCCCc;,,.,;CCCcc,,,,..'' .;CC'`'CCCCCCCCCC'' ``' .,;;;cc===`CC''````````'
.,...```' .C.,.`""""?CCCCC'`CCC''''``'  .,.,;ciCCCCCC..,;cciiCtttCCCCCCCtt
 ```'     `'`CCCCCCCCCCC' . `'       ```' .,. ```CCC''''`CCCCCCCCCCCCC?"''
..                           ``'                            ```'
$$$$$$$$$$$$ccc$$$$$$$$"?hccc=Jcc$$hccccccc$$$$$$$$$$$$$cccccc,,,,,ccc,,..
$$$??hcccci???CCCCCC$$L ,$$$$c $$hcccccJ???LcccccccccJCCC???????CCCC??????
$$F `?$$$$$$$$$$$$$$$$. ,$$"$$.?$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$,. ,$$$$$$$$$$$$$$$$. ,$$ $$h $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$??????????$$
$$$h $$$$$$$$$$$$$$$$$$ $$$ ?$h ?$$$$$$$$$$$$$$$$$$$$$$$???izc?????????i??
???" ?????$$$$$$$""""""  "" ?"" `"?"""$$$$$$$$??<Lr??cr?=""    .  .      .
,,,,,,,,,J$$$$$$$$,.,,,,,,,,..       ,$$$$$$P>JP"       .,;;,.!!;,.!!!!!!!
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$C3$$  -'  --''`!!!!'`'   ..  `!
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$Ci??c,,,.,..,.            `````
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$JJCCCC????????$$????rrrcccc,
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$C<<$$$$$PF<$$$$
$$$$$cizccCCCCCCCCCcccc$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$?????)>>J$CLccc$??""
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$????ii?iiJJJ$$??"""
$$$$$$$$$$$$$??$$$$????P$$$???iiiiicccccc<<????)Cicc$P""      ..   .,;;!!!
$$$$$CCCCCCC>>J>>>>cccccc>>>??C????CC>cccJ$??"""""         -``!!;!'  .!!!'
$$$$$??CCCCCCCCCCCff>>>>>J$$$P""""""""            ..,;;;;;;;!'`.,;;!'''
??????????????"""""'' `'              .,..,;;;;!!!'```..```' .,.,;;;- `,;'
                    .,.    ,;;----'''''''```````'  `''`,;;!!'''`..,;;'' ,;
---;;;;;;;-----'''''''''``'  --- `'  .,,ccc$$hcccccc,.  `' ,;;!!!'``,;;!!'
;;;;,,.,;-------''''''' ,;;!!-    .zJ$$$$$$$$$$$$$$$$$$$c,. `' ,;;!!!!' ,;
  ```'    -;;;!'''''-  `.,..   .zJ$$$$$$$$$$$$$$$$$$$$$$$$$$c, `!!'' ,;!!'
!!-  ' `,;;;;;;;;;;'''''```' ,c$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$c,  ;!!'' ,;
,;;;!!!!!!!!''``.,;;;;!'`'  z$$$$$$$$???"""""'.,,.`"?$$$$$$$$$$$  ``,;;!!!
;;..       --''```_..,;;!  J$$$$$$??,zcd$$$$$$$$$$$$$$$$$$$$$$$$h  ``'``'
```'''   ,;;''``.,.,;;,  ,$$$$$$F,z$$$$$$$$$$$$$$$$$$$c,`""?$$$$$h
!!!!;;;;,   --`!'''''''  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$h.`"$$$$h .
`'''``.,;;;!;;;--;;   zF,$$$$$$$$$$?????$$$$$$$$$$$$$?????$$r ;?$$$ $.
!;.,..,.````.,;;;;  ,$P'J"$$$$$$P" .,c,,.J$$$$$$$$$"',cc,_`?h.`$$$$ $L
'``````'    .,..  ,$$". $ $$$$P",c$$$$$$$$$$$$$$$$',$$$$$$$$$$ $$$$ $$c,
!!!!!!!!!!!!!'''  J$',$ $.`$$P c$$$$$$$$$$$$$$$$$$,$$$$$$$$$$$ $$$$ $$$$C
   ``            J$ ,$P $$ ?$',$$$$???$$$$$$$$$$$$$$$??"""?$$$ <$$$ $$$$$
c           ;,  z$F,$$  `$$ $ ?$"      "$$$.?$$$ $$$P c??c, ?$.<$$',$$$$$F
$$h.  -!>   ('  $" $F ,F ?$ $ F ,="?$$c,`$$F $$"z$$',$' ,$$P $h.`$ ?$$$$$r
$$$$$hc,. ``'  J$ $P J$ . $$F L ",,J$$$F <$hc$$ "$L,`??????,J$$$.` z$$$$$
$$$$$$$$$$c,'' ?F,$',$F.: $$ c$c,,,,,c,,J$$$$$$$ ?$$$c,,,c$$$$$$F. $$$$$$
`"$$$$$$$$$$$c, $$',$$ :: $$$$$$$$F"',$$$$$$$$$$h ?$$$L;;$$$??$$$$ $$$$$$
   "?$$$$$$$$$$ $$$$$$ : .`F"$$$$$$$$$$$$""""?"""h $$$$$$$"$,J$$$$ $$$$$'
      "?$$$$$$$ $$$$$$.`.` h `$$$$$$$$$$$cccc$$c,zJ$$$$$P' $$$$$P',$$$$P
$.       `""?$$ $$$$$$$  ` "$c "?$$$$$$$$$$$$??$$$$$$$$" ,J$$$P",J$$$$P
..           `" ?$$$$$$h    ?$$c.`?$$$$$$$$$' . <$$$$$' ,$$$"  ,$$$$$"
!!>. .          `$$$$$$$h  . "$$$c,"$$$$$$$' `' `$$$P  ,$$$' ,c$$$$$'   ;!
```<!!!>         `$$$$$$$c     "$$$c`?$$$$$  : : $$$  ,$$P' z$$$$$$'   ;!!
$hc ```'  ;       `$$$$$$$.      ?$$c ?$$$$ .: : $$$  $$F ,J$$$$$$'   ;!!
.,..      '        `$$$$$$$       "$$h`$$$$ .' ' $$$ ,$$ ,J$$$$$$'    !!!
????P               `$$$$$$L       $$$ $$$F :.: J$$P J$F J$$$$$P     ;!!
-=<                  ?$$."$$       `$$ ?$$' `' z$$$F $P  $$$$$$'     !!'
cc                   `$$$c`?        ?$.`$$hc, cd$$F ,$'  $$$$$$     ;!!
                      $$$$c         `$$c$$$$$$$$$",c$'   $$$$$$     `!!
                      $$$$$          `?$$$$$$$$$$$$P'    $$$$$$> ..
                      $$$$$            `"?$$$$$$$P"      $$$$$$L $$c,
          !!         <$$$$$            zc,`"""',         <$$$$$$.`$$$$cc,
          !!         J$$$$P            `$$$$$$$' !'       $$$$$$L `$$$$$$h
         ;,          $$$$$L          `! J$$$$$',!!        $$$$$$$  `$$$$$$
          '         <$$$$$.           ! $$$$$$ !!         ?$$$$$$   `$$$$$
                   ,$$$$$$$c          `,`???? ;'         c,?$$$$'    `?$$$
                   $$$$$$$??           `!;;;;!     .     `h."?$P      `$$$
                  ,$$$$$$$h.            `'''      `'      `$$$P        `?$
                   $$$$$$$$h                      `!'      `"'           `
                  `$$$$$$$$F          !;     !    ;,
                   `$$$$$$$'         `!!>         `!
c,        ;,        `?$$$$P           !!>             .
$F        !!>         `""'            `!!            ;!>    <-
$F       `!!'                      ;!; '   `!        <!>    ;
$F        `'      <!               !!!               !!>    !!
?'       `'      !!!               !!!               !!>    !!
         !!'    <!!               ;!!!               `'     ;
        ;!!     !!                !!!!                      !'
        !!!     `'                !!!                       '            ;
        !!                       ;!!'                                    !
                                 !!!                      ;!             !
                                <!!!                      )'            `!
          ,;;>                 ;!!!                                     `!
          `''                 ;!!!                     !                `!
              ;!             ;!!!                                  ,$$c, `
            !''             ;!!!           '                    ,c$$$$$$c.
>                       ;   !!!                                 ?$$$$$$$$$
!!>                   ;!! .!!!     .!>                           "?$$$$$$$
<! `!         ,;     ;!!  !!!!     !!                              `"?$$$$
 . '          '    ;!!! .!!!!     !!   .                              `"?$
 `'               <!!' .!!!!!!   !!!'  !                     >           `
                .!!!  <!!'`!!! .!!!!;                   !!>
                !!!  <!!'  !! ;!!!!!!                   (' ;,
               <!!  !!!'  !!! !!!'!!!                   !> `!
               !!' !!!'  `!!';!>  !!                 <! `' `!  !>.
               ' ;<!!'  .!!! !!' <!'       ;        `!! ;  `!  !!!>
            .<!>;!!!'   !!! `!! <!!                .. ' '      !!!' ;,
           <!!! <!! ;   !!! !!>;!!''!             J$$c         `!!; !!>
          ;!!! ;!! <!   !!> !! `!! !'            J$$$$hr        `'' !!!,;;
          ;!!! !! <!!  <!!  !' ;!! '            <$$$$$$$.           <!!!'!
          !!!  !;<!!'  !!! ;!  !!>              $$$$$$$$$$.          `'  !
         `!!! !!!!!'   !!! !! `!!!              ?$$$$$$$??$c        !!>;
         ;!! ;!!!!!   ;!!> !! <!!>               ?$$$$$$c,`$$.      `!!!
         !!! !!! !'   `!!> !! !!!                 "?$$$$$$ "?$c      `<!
        ;!!  !! ;!    !!!> ! ;!!!,                  "$$$$$$c,"?$c,
        ;!!  !! ;!    !!!! ! `!!!!                    "$$$$$$c ?$$h.
        !!!> !! !!    !!!!    !!!                       "?$$$$c "$$$c,
        !!!' '  !!    `!!!    `!                          "$$$$h.`?$$$c,
       <!!!>   <!!    `!!!     !>                          ?$$$$$c ?$$$$h.
       `!!!    `!!     !!!     `'                           "?$$$$h.`?$$$$
        `!!>    !!     `!!                                    `?$$$$$$$$$$
         `!'    !!      `'                                      "$$$$$$$$$
                `!>                                               ?$$$$$$$
                 `!                                                `"?$$$$
                  `-                ;!                                `"$$
                                                                        `?
*/
header {
	display: flex;
}
main {
	display: flex;
}
h3 {
	color: #bfff50;
		text-align: center;
		font-family: 'Sevillana';
		font-size: 40px;
		text-decoration: underline; /* vérifier si c'est pas mieux sans */
}

h4 {
	font-family: Salsa;
	text-align: center;
	color: floralwhite;
}

/* table {
	background: radial-gradient(circle, rgba(1, 43, 136, 0.1) 0%, rgba(63, 56, 56, 0.4) 35%, rgb(49, 49, 48) 100%);
	text-align: center;
	border-radius: 7px;
	border: thick simple green;
	border-collapse: collapse;
} */

th{color: antiquewhite;}
td{border: none;}
td a{color: inherit; size: .9em;}


#elementCasse button {
	border-radius: 5px;
}
#elementCasse kbd {
	font-style: oblique;
}

#lebouton {
	position: absolute; /* Pour le bouger */
	left: 5%;
	top: 5%;
	z-index: 1;
	transform: translate(-50%, -50%);
	transition: left 0.1s, top 0.1s;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #3498db;
	color: white;
	border: none;
	border-radius: 5px;
}
#croix {
	position: absolute;
	top: 2em;
	right: 2em;
	color: green;
	background-color: #131416;
	transition-duration: 0.8s;
	border-radius: 20px;
	text-decoration: none;
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: xx-small;
}
#croix:hover {
	background-color: #04AA6D;
	color: #131416;
}

#peut-être {
	color: black;
}

#bouton1 {
	text-align: center;
	text-decoration: none;
	color: ghostwhite;
	border-radius: 18px;
	padding: 10px;
	background: green;
	box-shadow: 2px 4px #59595F;
	display: block;
}

#bouton1:hover {
	background: darkgreen;
	box-shadow: 2px 4px #313132;
	transition-duration: .4s;
}

#bouton1:active {
	box-shadow: 1px 2px #313132;
	translate: 1px 2px;
}

#p2 {
	display: none;
	opacity: 0;
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	display: flex;
	align-items: center;
	background: rgba(77, 77, 77, 1);
	height: 100dvh;
}

#p2:target {
	visibility: visible;
	opacity: 1;
}

#non {
	position: absolute;
	bottom: 10px;
	left: 7px;
	text-decoration: none;
	color: whitesmoke;
	background: darkred;
	border-radius: 7px;
	box-shadow: 0px 8px #59595F;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 2%;
	margin-left: 4%;
	transition-duration: .4s;
}

#non:active {
	background:darkred;
	box-shadow: 0px 5px #313132;
	transform: translateY(3px);
}

#oui {
	position: absolute;
	bottom: 10px;
	right: 7px;
	text-align: center;
	text-decoration: none;
	color: whitesmoke;
	background: darkred;
	border-radius: 7px;
	box-shadow: 0px 8px #59595F;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 2%;
	margin-right: 4%;
	transition-duration: .3s;
}

#oui:active {
	background:darkred;
	box-shadow: 0px 5px #313132;
	transform: translateY(3px);/*effet d'appui*/
}

#parking {
	display: block;
	line-height: .2em;
}

#fermeture {
	size: 100%;
}
#fermeture:target {
	size: 0%;
}

.popup a {
	text-decoration: none;
	font-family: 'Segoe-Boot-Semilight';
}

.popup h1 {
	color: white;
	font-size: 25px;
}

.contenu {
	border-radius: 7px;
	position: sticky;
	top: 10px;
	height: 650px;
	width: 600px;
	background: #131416;
	padding: 24px 32px;
	color: white;
}

.contenu.defilement {
	height: 20%;
	overflow: hidden;
}


.popup {
	visibility: visible;
	opacity: 1;
	position: sticky;
	top: 10; right: 0;
	bottom: 0; left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(77, 77, 77, 1); 
}

.popup:target {/*sert à détecter le clic*/
	display: none;
	opacity: 0;
}
.fermer {text-decoration: none;}

.mesloLGS {
	font-family: 'mesloLGS';
	font-size: 15px;
}
