@import url("animations.css");
@import url('polices.css');

/*
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXP
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXY?"""  .
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXY?""   ,;ciCCC
"?YXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXYYY??""   .,;iCCCCCCCCCC
.,.  `""""""???YYYYYYYYYYXXXXXXXYYYYY???"""""""   ..,;ciiCCCCCCCCCCC''`
```'`CCiiicccccccccc;;,,.	.,..,..,;cccciiiCCCCCCC????>''`````   .;ciCCC
Cic;,.   `''<<????CCCCCCCCCCCC?????''''''''`````'   ..,;;;ccciiiCCCCCCCCCC
CCCCCCCCCCCCcc;;;,,.	   .,..,..,..,;;cciiiiCCCCCCCCCCCCCCCCCCCCC??>'`
``''?CCCCCCCCCC"'```''CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC??""''``   _.,;cciCC
ic;;,. ````'<?Ciiccc;,,.  ````'''`CCCCCC''''''''`' .,;cciiiCCCCCCCCCC?"'`
CCCCCCCCCiic;._  ```''"<?CCC;;;,,,.,..,...,;;;;;;C777???CC'''''``'  _,xiXX
.  ```'''`CCCCCCCiicc;,,,,,..		```````'			.,,,xiiXXXXXXXXXX
XXXXXxXx,,,.   ```````````````````   .,..,..,.xiXiiXiiXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXxXxxXxXXXXXxxXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXY??"""
"""?YXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXYY???"""
=		  """""???YYXXXXXXXXXXXXXXXXXXXXXXXXXXYYY???""				 ,;
 -;ccccc;;,.,..			""""""""""						  ,;ciCC'``'
;;, ```'???CCCCC  `''--;CCicc;;,	  .,;;,,,.   ..	  .,;ciCCCCCCCicc;-
C'```CCiiiiiCCCCtCiicc;,.  ```' . .,;;iCCCCC'' .,;;cccc-''`CCCCCCCCCCCCC;;
CCCCc;,,.,;CCCcc,,,,..'' .;CC'`'CCCCCCCCCC'' ``' .,;;;cc===`CC''````````'
.,...```' .C.,.`""""?CCCCC'`CCC''''``'  .,.,;ciCCCCCC..,;cciiCtttCCCCCCCtt
 ```'	 `'`CCCCCCCCCCC' . `'	   ```' .,. ```CCC''''`CCCCCCCCCCCCC?"''
..						   ``'							```'
$$$$$$$$$$$$ccc$$$$$$$$"?hccc=Jcc$$hccccccc$$$$$$$$$$$$$cccccc,,,,,ccc,,..
$$$??hcccci???CCCCCC$$L ,$$$$c $$hcccccJ???LcccccccccJCCC???????CCCC??????
$$F `?$$$$$$$$$$$$$$$$. ,$$"$$.?$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$,. ,$$$$$$$$$$$$$$$$. ,$$ $$h $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$??????????$$
$$$h $$$$$$$$$$$$$$$$$$ $$$ ?$h ?$$$$$$$$$$$$$$$$$$$$$$$???izc?????????i??
???" ?????$$$$$$$""""""  "" ?"" `"?"""$$$$$$$$??<Lr??cr?=""	.  .	  .
,,,,,,,,,J$$$$$$$$,.,,,,,,,,..	   ,$$$$$$P>JP"	   .,;;,.!!;,.!!!!!!!
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$C3$$  -'  --''`!!!!'`'   ..  `!
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$Ci??c,,,.,..,.			`````
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$JJCCCC????????$$????rrrcccc,
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$C<<$$$$$PF<$$$$
$$$$$cizccCCCCCCCCCcccc$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$?????)>>J$CLccc$??""
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$????ii?iiJJJ$$??"""
$$$$$$$$$$$$$??$$$$????P$$$???iiiiicccccc<<????)Cicc$P""	  ..   .,;;!!!
$$$$$CCCCCCC>>J>>>>cccccc>>>??C????CC>cccJ$??"""""		 -``!!;!'  .!!!'
$$$$$??CCCCCCCCCCCff>>>>>J$$$P""""""""			..,;;;;;;;!'`.,;;!'''
??????????????"""""'' `'			  .,..,;;;;!!!'```..```' .,.,;;;- `,;'
					.,.	,;;----'''''''```````'  `''`,;;!!'''`..,;;'' ,;
---;;;;;;;-----'''''''''``'  --- `'  .,,ccc$$hcccccc,.  `' ,;;!!!'``,;;!!'
;;;;,,.,;-------''''''' ,;;!!-	.zJ$$$$$$$$$$$$$$$$$$$c,. `' ,;;!!!!' ,;
  ```'	-;;;!'''''-  `.,..   .zJ$$$$$$$$$$$$$$$$$$$$$$$$$$c, `!!'' ,;!!'
!!-  ' `,;;;;;;;;;;'''''```' ,c$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$c,  ;!!'' ,;
,;;;!!!!!!!!''``.,;;;;!'`'  z$$$$$$$$???"""""'.,,.`"?$$$$$$$$$$$  ``,;;!!!
;;..	   --''```_..,;;!  J$$$$$$??,zcd$$$$$$$$$$$$$$$$$$$$$$$$h  ``'``'
```'''   ,;;''``.,.,;;,  ,$$$$$$F,z$$$$$$$$$$$$$$$$$$$c,`""?$$$$$h
!!!!;;;;,   --`!'''''''  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$h.`"$$$$h .
`'''``.,;;;!;;;--;;   zF,$$$$$$$$$$?????$$$$$$$$$$$$$?????$$r ;?$$$ $.
!;.,..,.````.,;;;;  ,$P'J"$$$$$$P" .,c,,.J$$$$$$$$$"',cc,_`?h.`$$$$ $L
'``````'	.,..  ,$$". $ $$$$P",c$$$$$$$$$$$$$$$$',$$$$$$$$$$ $$$$ $$c,
!!!!!!!!!!!!!'''  J$',$ $.`$$P c$$$$$$$$$$$$$$$$$$,$$$$$$$$$$$ $$$$ $$$$C
   ``			J$ ,$P $$ ?$',$$$$???$$$$$$$$$$$$$$$??"""?$$$ <$$$ $$$$$
c		   ;,  z$F,$$  `$$ $ ?$"	  "$$$.?$$$ $$$P c??c, ?$.<$$',$$$$$F
$$h.  -!>   ('  $" $F ,F ?$ $ F ,="?$$c,`$$F $$"z$$',$' ,$$P $h.`$ ?$$$$$r
$$$$$hc,. ``'  J$ $P J$ . $$F L ",,J$$$F <$hc$$ "$L,`??????,J$$$.` z$$$$$
$$$$$$$$$$c,'' ?F,$',$F.: $$ c$c,,,,,c,,J$$$$$$$ ?$$$c,,,c$$$$$$F. $$$$$$
`"$$$$$$$$$$$c, $$',$$ :: $$$$$$$$F"',$$$$$$$$$$h ?$$$L;;$$$??$$$$ $$$$$$
   "?$$$$$$$$$$ $$$$$$ : .`F"$$$$$$$$$$$$""""?"""h $$$$$$$"$,J$$$$ $$$$$'
	  "?$$$$$$$ $$$$$$.`.` h `$$$$$$$$$$$cccc$$c,zJ$$$$$P' $$$$$P',$$$$P
$.	   `""?$$ $$$$$$$  ` "$c "?$$$$$$$$$$$$??$$$$$$$$" ,J$$$P",J$$$$P
..		   `" ?$$$$$$h	?$$c.`?$$$$$$$$$' . <$$$$$' ,$$$"  ,$$$$$"
!!>. .		  `$$$$$$$h  . "$$$c,"$$$$$$$' `' `$$$P  ,$$$' ,c$$$$$'   ;!
```<!!!>		 `$$$$$$$c	 "$$$c`?$$$$$  : : $$$  ,$$P' z$$$$$$'   ;!!
$hc ```'  ;	   `$$$$$$$.	  ?$$c ?$$$$ .: : $$$  $$F ,J$$$$$$'   ;!!
.,..	  '		`$$$$$$$	   "$$h`$$$$ .' ' $$$ ,$$ ,J$$$$$$'	!!!
????P			   `$$$$$$L	   $$$ $$$F :.: J$$P J$F J$$$$$P	 ;!!
-=<				  ?$$."$$	   `$$ ?$$' `' z$$$F $P  $$$$$$'	 !!'
cc				   `$$$c`?		?$.`$$hc, cd$$F ,$'  $$$$$$	 ;!!
					  $$$$c		 `$$c$$$$$$$$$",c$'   $$$$$$	 `!!
					  $$$$$		  `?$$$$$$$$$$$$P'	$$$$$$> ..
					  $$$$$			`"?$$$$$$$P"	  $$$$$$L $$c,
		  !!		 <$$$$$			zc,`"""',		 <$$$$$$.`$$$$cc,
		  !!		 J$$$$P			`$$$$$$$' !'	   $$$$$$L `$$$$$$h
		 ;,		  $$$$$L		  `! J$$$$$',!!		$$$$$$$  `$$$$$$
		  '		 <$$$$$.		   ! $$$$$$ !!		 ?$$$$$$   `$$$$$
				   ,$$$$$$$c		  `,`???? ;'		 c,?$$$$'	`?$$$
				   $$$$$$$??		   `!;;;;!	 .	 `h."?$P	  `$$$
				  ,$$$$$$$h.			`'''	  `'	  `$$$P		`?$
				   $$$$$$$$h					  `!'	  `"'		   `
				  `$$$$$$$$F		  !;	 !	;,
				   `$$$$$$$'		 `!!>		 `!
c,		;,		`?$$$$P		   !!>			 .
$F		!!>		 `""'			`!!			;!>	<-
$F	   `!!'					  ;!; '   `!		<!>	;
$F		`'	  <!			   !!!			   !!>	!!
?'	   `'	  !!!			   !!!			   !!>	!!
		 !!'	<!!			   ;!!!			   `'	 ;
		;!!	 !!				!!!!					  !'
		!!!	 `'				!!!					   '			;
		!!					   ;!!'									!
								 !!!					  ;!			 !
								<!!!					  )'			`!
		  ,;;>				 ;!!!									 `!
		  `''				 ;!!!					 !				`!
			  ;!			 ;!!!								  ,$$c, `
			!''			 ;!!!		   '					,c$$$$$$c.
>					   ;   !!!								 ?$$$$$$$$$
!!>				   ;!! .!!!	 .!>						   "?$$$$$$$
<! `!		 ,;	 ;!!  !!!!	 !!							  `"?$$$$
 . '		  '	;!!! .!!!!	 !!   .							  `"?$
 `'			   <!!' .!!!!!!   !!!'  !					 >		   `
				.!!!  <!!'`!!! .!!!!;				   !!>
				!!!  <!!'  !! ;!!!!!!				   (' ;,
			   <!!  !!!'  !!! !!!'!!!				   !> `!
			   !!' !!!'  `!!';!>  !!				 <! `' `!  !>.
			   ' ;<!!'  .!!! !!' <!'	   ;		`!! ;  `!  !!!>
			.<!>;!!!'   !!! `!! <!!				.. ' '	  !!!' ;,
		   <!!! <!! ;   !!! !!>;!!''!			 J$$c		 `!!; !!>
		  ;!!! ;!! <!   !!> !! `!! !'			J$$$$hr		`'' !!!,;;
		  ;!!! !! <!!  <!!  !' ;!! '			<$$$$$$$.		   <!!!'!
		  !!!  !;<!!'  !!! ;!  !!>			  $$$$$$$$$$.		  `'  !
		 `!!! !!!!!'   !!! !! `!!!			  ?$$$$$$$??$c		!!>;
		 ;!! ;!!!!!   ;!!> !! <!!>			   ?$$$$$$c,`$$.	  `!!!
		 !!! !!! !'   `!!> !! !!!				 "?$$$$$$ "?$c	  `<!
		;!!  !! ;!	!!!> ! ;!!!,				  "$$$$$$c,"?$c,
		;!!  !! ;!	!!!! ! `!!!!					"$$$$$$c ?$$h.
		!!!> !! !!	!!!!	!!!					   "?$$$$c "$$$c,
		!!!' '  !!	`!!!	`!						  "$$$$h.`?$$$c,
	   <!!!>   <!!	`!!!	 !>						  ?$$$$$c ?$$$$h.
	   `!!!	`!!	 !!!	 `'						   "?$$$$h.`?$$$$
		`!!>	!!	 `!!									`?$$$$$$$$$$
		 `!'	!!	  `'									  "$$$$$$$$$
				`!>											   ?$$$$$$$
				 `!												`"?$$$$
				  `-				;!								`"$$
																		`?
*/

body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

header {
	flex-grow: 1;
}

main {
	display: flex;
	flex: 1 0 auto;
	overflow: auto;
	flex-grow: 3;
}

footer {
	flex-shrink: 0;
	flex-grow: 1;
}

footer button {
	border: none;
	padding: 0;
	background: none;
	display: block;
}

footer button span {
	font-size: 16px;
	padding: 5px;
	color: coral;
	font-family: Arial, Helvetica, sans-serif;
}

footer button:hover {
	color: rgb(211, 72, 22);
	transform: scale(1.1, 1.3);
}

strong {
	margin-top: auto;
	font-weight: normal;
}

h4 {
	font-family: Salsa;
	text-align: center;
	color: floralwhite;
}

th {
	color: antiquewhite;
}

td {
	border: none;
}

td a {
	color: inherit;
	size: .9em;
}

.pmainholder, .textboxmainholder {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.pmainholder {
	background: white;
	z-index: 100000;
}

.textboxmainholder {
	background: rgba(255, 255, 255, .6);
	z-index: 100;
	flex-wrap: wrap;
	user-select: none;
	display: none;
}

.tbcontent {
	background: whitesmoke;
	box-sizing: border-box;
	display: flex;
	flex-grow: auto;
	width: calc(100% - 20em);
	height: calc(100% - 15em);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 20px;
	flex-direction: column;
}

.tbtitle {
	font-family: 'Fira Code', verdana;
	font-size: 40px;
	color: orangered;
	text-align: center;
}

.tbtxt {
	max-width: 100%;
	text-align: center;
	max-height: 120px;
	flex-shrink: 4;
}
.tbtxt span {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #313132;
}

.tbinput {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
}
.referenceText, .tbinput textarea {
	white-space: pre-wrap;
	text-align: left;
	font-size: 18px;
	line-height: 1.5;
	width: 98%;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #f8f8f8;
	overflow: hidden;
	height: auto;
	min-height: 155px;
	max-height: 100%;
	flex-shrink: 1;
	position: absolute;
	align-items: center;
	top: 0;
	left: 0;
	font-family: 'Consolas', Verdana, Geneva, Tahoma, sans-serif;
}

.referenceText {
	color: rgba(0, 0, 0, 0.3);
	pointer-events: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.tbinput textarea {
	resize: none;
	background: transparent;
	color: black;
	caret-color: violet;
	z-index: 1;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.incorrect {
	color: red;
	text-decoration: line-through;
}

.button {

	align-self: flex-end;
	flex-basis: 0%;
	margin-left: auto; /* Aligne à droite dans un monde parfait */
	margin-right: 5em;
}
.button button {
	border: 2em;
	background: #5562dd;
	color: white;
	padding: 1em 2em;
	border-radius: 10px;
	font-size: 15px;
	box-shadow: 0px 8px #59595F;

}
.button button:active, #validate:active {
	box-shadow: 0px 5px #313132;
	transform: translateY(3px);
}

.hidden {
	display: none;
}

.popup {
	visibility: visible;
	opacity: 1;
	position: sticky;
	top: 10;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(77, 77, 77, 1);
}

.popup:target {
	display: none;
	opacity: 0;
}

.popup a {
	text-decoration: none;
	font-family: 'Segoe-Boot-Semilight';
}

.popup h1 {
	color: white;
	font-size: 25px;
}

.contenu {
	border-radius: 7px;
	position: sticky;
	top: 10px;
	height: 650px;
	width: 600px;
	background: #131416;
	padding: 24px 32px;
	color: white;
}

.contenu.defilement {
	height: 20%;
	overflow: hidden;
}

.mesloLGS {
	font-family: 'mesloLGS';
	font-size: 15px;
}

.btn {
	flex-grow: 0;
	order: 5;
	background-color: azure;
	border: none;
	color: none;
	font-size: 25px;
	height: 50px;
}
.btn:hover {
	background-color: grey;
	color: white;
}

#lebouton {
	position: absolute;
	left: 5%;
	top: 5%;
	z-index: 1;
	transform: translate(-50%, -50%);
	transition: left 0.1s, top 0.1s;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #3498db;
	color: white;
	border: none;
	border-radius: 5px;
}

#masquer:target {
	display: none;
}

#croix {
	position: absolute;
	top: 2em;
	right: 2em;
	color: green;
	background-color: #131416;
	transition-duration: 0.8s;
	border-radius: 20px;
	text-decoration: none;
	padding: 20px 22px;
	font-size: xx-small;
}

#croix:hover {
	background-color: #04AA6D;
	color: #131416;
}

#peut-être {
	color: black;
}

#bouton1 {
	text-align: center;
	text-decoration: none;
	color: ghostwhite;
	border-radius: 18px;
	padding: 10px;
	background: green;
	box-shadow: 2px 4px #59595F;
	display: block;
}

#bouton1:hover {
	background: darkgreen;
	box-shadow: 2px 4px #313132;
	transition-duration: .4s;
}

#bouton1:active {
	box-shadow: 1px 2px #313132;
	translate: 1px 2px;
}

#page2 {
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	background: rgba(77, 77, 77, 1);
	height: 100dvh;
}

#page2:target {
	visibility: visible;
	opacity: 1;
}

#oui, #non {
	position: absolute;
	bottom: 10px;
	text-decoration: none;
	color: whitesmoke;
	background: darkred;
	border-radius: 7px;
	box-shadow: 0px 8px #59595F;
	padding: 3px 1em;
	margin-bottom: 2%;
	transition-duration: .3s;
	z-index: 11001;
}

#non {
	left: 7px;
	margin-left: 4%;
}

#oui {
	right: 7px;
	margin-right: 4%;
}

#oui:active, #non:active {
	background: darkred;
	box-shadow: 0px 5px #313132;
	transform: translateY(3px);
}

#parking {
	display: block;
	line-height: .2em;
}

#fermeture {
	size: 100%;
}

#fermeture:target {
	size: 0%;
}

#elementCasse button {
	border-radius: 5px;
}

#elementCasse kbd {
	font-style: oblique;
}

#masquer:target {
	display: none;
}

#avertissement {
	border: none;
	background: grey;
	border-radius: 5px;
}

#validate {
	border: 2em;
	background: #5562dd;
	color: white;
	padding: 1em 2em;
	border-radius: 10px;
	font-size: 15px;
	box-shadow: 0px 8px #59595F;
}