@font-face {
    font-family: 'Segoe-Boot-Semilight';
    src:url('../polices/SegoeBoot/Semilight/Segoe-Boot-Semilight.ttf.woff') format('woff'),
        url('../polices/SegoeBoot/Semilight/Segoe-Boot-Semilight.ttf.svg#Segoe-Boot-Semilight') format('svg'),
        url('../polices/SegoeBoot/Semilight/Segoe-Boot-Semilight.ttf.eot'),
        url('../polices/SegoeBoot/Semilight/Segoe-Boot-Semilight.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: 350;
    font-style: normal;
}



body {
  background-color: #b3a267;
	display: flex;
	justify-content: center;
	flex-direction: column;
  height: calc(100dvh - 5%);  
  margin: 0;
}

main{
	display: inherit;
	align-items: center;
  justify-content: center;
  padding: none;
	margin: none;
  flex-grow: auto;
  flex: 1;
  flex-direction: column-reverse;
}

footer{
	display: inherit;
	justify-content: center;
	align-self: center;
	flex-direction: row;
	position: relative;
	flex-shrink: 0;
	gap: 20px;
  flex-grow: auto;
}

footer nav button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
footer nav button img {
	display: block;
	max-width: 100%;
	height: auto;
}
p {
  font-size: 25px;
  color: white;
}



/*
              .--------------.
           ___|  _  _  _  _  |____________________________
          /   |  || || || ||_|___             _      _   /;
         /.--------------.      /|___       +(_)    (/) //
        / |  _  _  _  _  |     / ___ \      _  OUT     //
       /  |  || || || || |____/ ___ \(\)  -(_)        //
      /   |  || || || || |    | /  \(\)   _          //
     /    |______________|____|/   (\)  -(_)        //
    / _                                 _  BAT _   //
   / (\) MJP                          +(_) 9v (=) //
  /______________________________________________//
  `----------------------------------------------'


       _____
    .-'     `-.
  .'   _       `.         Potentiometer
 /    (_) _      .
;     /\ \ `.     `.
|     | \ \: \    | \                           _
;     `.`-' ./    ;  ;                         | |
 \      `--'     /   |                         | |
  `;           .'  /\;                        {.-'}
    \-._____.-'  _.\ \                    ___=======___
     `.       _. \ \| |                  |             |
       `-.____\ \'\ \o|                  |             |
               \ \|o|                    |_.-._.-._.-._|
               |o|                         | | | | | |
                                           |o| |o| |o|
                                 _
                                | |
                                | |
   .--.                        {.-'}
  |.__.|                   ___=======___
  ||||||                  |             |
 /  11  \                 |             |___
 `.____.'                 |_____________|   |
  Spinal Taps                               |
  Extra Loud
  pot knob


OA: Resistor
     .--.......--.
  .-(   |||| ||   )-.
/   '--'''''''--'   \


          .--.
         | .-.|
         |T  ||
        [_|__|_]
          |  |
          |  |
          |  |

		  .=========.
  \   |   /
   \  |  /
    \ | /
     \|/
      |
      |
      L---------------.
      |               |  ,
     _|_              | .i,
    "=#="             | /
    "=#="          ____/__
    "=#="          _______
    "=#="            /
    "=#="           / |
      |               |
      L---------------+
      |
      |
  =========
   =======
    =====
     ===
      =
*/
