@import url("animations.css");


a{text-decoration: none;  font-family: Sevillana;/*supprime le style souligné par défaut des liens*/}
a:link{/*=état du lien non visité (par défaut)*/
	color: coral;
}
a:visited {/*=lorsque le lien est visité*/
  color: #DF5C1A;
}
a:hover {/*=état lorsque le lien est survolé par le pointeur de la souris*/
  color: seagreen;
  text-decoration: underline;
}

body {
	background: conic-gradient(red, yellow, green, blue, rgba(255, 120, 255, .7),red/*à ajuster*/);
	background-size: 120% 120%;
	/*  animation: translationHorizontale 200ms ease-in-out infinite;  */
	height: 100vh;/*=body prendra toute la hauteur de l'écran*/
	width: 100vw;
}

h1 {
	color:rgb(68, 0, 255);
	text-align: center;
	font-family: 'Sevillana';
}

#elementCasse {
	visibility: hidden;
	height: 100vh;
	width: 100vw;
}