h3 {
	color: #bfff50;
    text-align: center;
    font-family: 'Sevillana';
    font-size: 2vw;
    text-decoration: underline;
    margin-bottom: 8px;
}

.DivLavage {
    width: 60%; /* |--20%--|---60%---|--20%--| = 100% */
    background: #eeeeff;
    border: none;
    border-radius: 20px;

    position: relative;
    left: 20%; /* |--20%--|---60%---|--20%--| = 100% */

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.DivSechage {
    width: 100%;
    background: #eeeeff;
    border: none;
    border-radius: 20px;

    margin-left: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.FlexLigne {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

.DivLavageTexte {
    text-align: justify;
    background: #ffffff;
    border: none;
    border-radius: 20px;
    width: 70%;
}

.DivLavageImage {
    width: 30%;
    text-align: center;
    border: none;
}

.DivLavageImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Coupe l’image pour l’adapter sans déformation */
    border-radius: 20px; /* Coins arrondis pour un meilleur rendu */
}

.DivSechageDroite {
    text-align: justify;
    background: transparent;
    border: none;
    width: 80%;
}

.DivSechageTexte {
    text-align: center;
    background: #ffffff;
    border: none;
    border-radius: 20px;
    width: 100%;
}

.DivSechageImage img {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.DivFleche {
    width: 100%;
    object-fit: cover;
}

.DivDecorticage {
    width: 80%;
    position: relative;
    left: 20px;
}

.DivTorrefaction {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.FlecheVersBroyage1 {
    width: 30%;
    object-fit: fill;
    position: relative;
    left: 10px;
}

.FlecheVersBroyage2 {
    width: 30%;
    object-fit: fill;
}

.DivBroyage {
    width: 80%;
    position: relative;
    height: auto;
}

.FlechesVersMouture {
    width: 100%;
    object-fit: fill;
    height: 100px;
}

.TexteInfo {
    color: #333333;
    text-align: justify;
    font-family: 'Sevillana';
    font-size: 1.3vw;
    margin-top: 3px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.TitreInfo {
    color: #b3a267; /* Couleur du fond */
    text-align: center;
    font-family: 'Sevillana';
    font-size: 2vw;
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 2px;
}

.TitreInfo2 {
    color: #169bd8;
    text-align: center;
    font-family: 'Sevillana';
    font-size: 2vw;
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 2px;
}

.ImageTraitement {
    align-self: center;
}

.DivEspace {
    height: 20px;
    background-color: #b3a267;
}

.Terminal {
    width: 100%;
    height: 150px; /* Hauteur de la boîte */
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1e1e1e;
    color: #00ff00;
    font-family: "Courier New", monospace;
    padding: 10px;
    overflow-y: auto; /* Permet le défilement vertical */
    white-space: pre-wrap; /* Garde les retours à la ligne */
    word-wrap: break-word; /* Gère les mots longs */
}