@import url("animations.css");

body {
	width: 100%;
	height: 100vh;
	font-family: Salsa;
	font-display: block; /*bloque le chargement de la page tant que la police n'est pas téléchargée*/
	overflow-x: hidden; /*empêche le défilement horizontal*/
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-direction: column;
}

header {
	display: inherit;
	justify-content: center;
	align-items: flex-start;
	}

header h1 {
	color:rgb(22, 155, 216);
	text-align: center;
	font-family: 'Segoe-Boot-Semilight', 'Sevillana';
	font-size: 80px;
	}

main{
	display: inherit;
	align-items: center;
	}

footer {
	display: inherit;
	justify-content: center;
	align-items: flex-end;
	align-self: center;
	flex-direction: row;
	position: relative;
	flex-shrink: 0;
}

footer a:hover {
	color: rgb(211, 72, 22);
	transform: scale(1.1, 1.3);
}


.TableauBoutons {
	width: 100%;
	border-collapse: collapse;
	margin: 10%;
	padding: 10%;
	text-align: center;
	background: transparent;
	border: none;
}

.TableauBoutons tr,
.TableauBoutons td {
	border: none;
	padding: 10px;
}

a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

a:link {
	color: coral;
}

a:visited {
	color: coral;
}

.FondClassique {
	background-color: #b3a267
}

h3 {
	color: #bfff50;
		text-align: center;
		font-family: 'Sevillana';
		font-size: 40px;
		text-decoration: underline; /* vérifier si c'est pas mieux sans */
}

.ParagraphesInfo {
	color: #333333;
	text-align: justify;
	font-family: 'Sevillana';
	font-size: 30px;
	margin-bottom: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

.ParagraphesInfo2 { /* car le premier n'est pas compatible avec la page Récolte */
	color: #333333;
	text-align: justify;
	font-family: 'Sevillana';
	font-size: 28px;
	margin-bottom: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

#elementCasse {
	display: none; /* Sinon on a un énorme blanc en plein milieu */
	visibility: hidden;
	height: 100vh;
	width: 100vw;
}

.contours{
	background: linear-gradient(to right,orange,yellow,blue, red,indigo,violet, green);
	padding: 11px;
	animation: animationFondImages 14s ease infinite;
	background-size: 800% 800%;
}

.TableauInvisible {
	width: 90%;
	max-width: 95vw;
	border-collapse: collapse;
	margin: auto;
	/*padding: 10%;*/
	text-align: center;
	background: transparent;
	border: none;
}

.TableauInvisible tr,
.TableauInvisible td {
	border: none;
	padding: 10px;
}

.TableauInvisible td img {
	display: block;
	width: 100%; /* Remplit toute la largeur de la cellule */
	height: 500px; /* Hauteur uniforme */
	object-fit: cover; /* Coupe l’image pour l’adapter sans déformation */
	border-radius: 50px; /* Coins arrondis pour un meilleur rendu */
}

h4 {
	font-family: Salsa;
	text-align: center;
	color: floralwhite;
}

table {
	background: radial-gradient(circle, rgba(1, 43, 136, 0.1) 0%, rgba(63, 56, 56, 0.4) 35%, rgb(49, 49, 48) 100%);
	text-align: center;
	border-radius: 7px;
	border: thick simple green;
	border-collapse: collapse;
}
th{color: antiquewhite;}
td{border: none;}
td a{color: inherit; size: .9em;}


.contenu.defilement {
	height: 20%;
	overflow: hidden;
}